<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<assembly xmlns="urn:schemas-microsoft-com:asm.v1" manifestVersion="1.0">
	<assemblyIdentity
		version="1.0.0.0"
		processorArchitecture="ia64"
		name="lib@GUILIB_NAME@-@GUILIB_VER@"
		type="win32"
		/>
	<file name="lib@GUILIB_NAME@-@GUILIB_VER@.dll" hashalg="SHA1"/>
</assembly>
